name: vprofile action
on: workflow_dispatch

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Code checkout
              uses: actions/checkout@v3
            - name: Maven test
              run: mvn test
            - name: Checkstyle
              run: mvn checkstyle:checkstyle
